
  <h1>rock-paper-scissors</h1>
<form action='/output'>
  <div class="form-group">
    <label for="word">Play</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Go!</button>
</form>
