<div class = jumbotron>
  <h1>rock-paper-scissors</h1>
</div>
<form action='/results'>
  <div class="form-group">
    <label for="player1input">Play</label>
    <input id="player1input" name="player1input" class="form-control" type="text">
    <label for="player2input">Play</label>
    <input id="player2input" name="player2input" class="form-control" type="text">
  </div>
<button type="submit" class="btn btn-success">Go!</button>
</form>
